QPushButton{
    border: none;
    font: bold;
    font-size: 18px;
    color: black;
}

QPushButton#closeButton, QPushButton#minButton, QPushButton#maxButton {
    color: #828487;
}

QPushButton#closeButton::hover, QPushButton#minButton::hover, QPushButton#maxButton::hover {
    color: #DCDDE4;
}
