QWidget{
    outline: none;
}

QFrame {

    border: none;
}


QScrollArea {

    border: none;
}

QPushButton{
    color: black;
    width: 25px;
}

QPushButton#next_button{
    background-color: #007c82;
    color:white;
    font-size: 24px;
    text-align: center;
}


QPushButton#right_lable{
    border: none;
    font-size:16px;
}
